@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@font-face {
  font-family: HelveticaNeue-Bold;
  src: url("/assets/images/HelveticaNeue-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: HelveticaNeueLight;
  src: url("/assets/images/HelveticaNeueLight.woff");
  font-weight: 400;
}
@font-face {
  font-family: QuincyCF-Bold;
  src: url("/assets/images/QuincyCF-Bold.woff");

  font-weight: 700;
}

@font-face {
  font-family: QuincyCF-Medium;
  src: url("/assets/images/QuincyCF-Medium.woff");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: QuincyCF-Bold;
}

@font-face {
  font-family: HelveticaNeue-Medium;
  src: url("/assets/images/HelveticaNeue-Medium.woff");

  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.woff2") format("woff2"),
    url("Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-Bold.woff2") format("woff2"),
    url("Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("Inter-Medium.woff2") format("woff2"),
    url("Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #e5f5f3;
}
.class-name-style {
  font-family: QuincyCF-Bold;
}
/* .class-logo-padding {
  padding-top: 15px;
  padding-bottom: 15px;
} */

.text-weight-property {
  font-family: HelveticaNeueLight;
  color: white;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 28px;
}
.class-bottom-paddding {
  padding-bottom: 24px;
}
.class-256 {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  color: white;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  padding-top: 10px;
}
.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.btn-bg {
  color: #666666;
  border-radius: 9999px;
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.btn-bg:hover{
  background-color: #f7f7f7 !important;

}


.custom-slider .slick-slide {
  padding: 0 10px; /* This adds horizontal gap */
}

.custom-slider .slick-list {
  margin: 0 -10px; /* Compensate the padding */
}


.img-width-doctor{
  width: 100%;
  margin-top: 60px;
}

.no-hover-color.btn-link {
  color: #666666 !important;
}

.no-hover-color.btn-link:hover {
  color: #666666 !important;
  text-decoration: none !important;
}
.footer-flex-class{
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  gap: 10px;
}
.footer-second-flex{
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.footer-start-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.padding-footer{
  padding-left: 60px;
  padding-right: 60px;
}
.margin-set {
  margin-top: -2px;
}
.text-set-class {
  color: #6c6c6c;
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.4px;
  padding-right: 36px;
}
.class-goals{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-setting {
  color: #666666;
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.custom-progress-bar {
  background-color: #b8dfdb !important;
}
.padding-class {
  padding: 50px;
}
.btn-setting-class-custom {
  height: 70px;
  background-color: #f5d552;
  color: black;
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
}
.btn-setting-class-custom:hover {
  background-color: #f5d552;
  color: black;
}
.selected-product {
  border: 2px solid #2fbaac !important;
}
.ptb-class {
  padding-bottom: 110px;
  padding-top: 33px;

}
.class-name-style {
  color: #2f827a;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.28px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 18px;
  text-align: start !important;
}
.input-style {
  border: 3px solid #ededed;
  padding: 15px 15px;
  margin-bottom: 50px;
}
.input-style::placeholder {
  color: #dcdcdc;
}
.card {
  border-radius: 12px;
}

.custom-radio-button {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease;
}
.custom-radio-button:checked {
  background-color: white;
  border-color: #2f766a;
}
.custom-radio-button:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease;
}
.custom-radio-button:checked:before {
  background-color: #2f766a;
}
.dose-class {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

  color: black;
}
.option-clr {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #555555;
}
.text0-clr {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.23px;
  color: #151515;
}
.form-check {
  display: flex;
  align-items: center;
  gap: 40px !important; /* adjust as needed */
  cursor: "pointer";
}
.class-bmi-1 {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #000000;
}
.card-body {
  flex: none;
}
.class-bmi {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.bg-gradient {
  background: linear-gradient(
    90deg,
    #2fb8aa 0%,
    rgba(60, 75, 158, 0.1) 90%
  ) !important;
  height: 16px;
  width: 100%;
  border-radius: 9999px;
  padding-top: 16px;
  margin-bottom: 12px;
}
.text-start-class {
  text-align: start !important;
}

.width-set {
  width: 100% !important;
}
.class-border {
  border: 3px solid #ededed;
  margin-bottom: 12px;
  height: 58px !important;
}

.class-border1 {
  border: 3px solid #ededed;
  margin-bottom: 24px;
  height: 58px !important;
}

.fontyy {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
  text-align: start !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.bg-lady {
  background: linear-gradient(90deg, #2f766a 0%, #2fbaac 100%);
  border-radius: 24px;
  padding: 20px;

  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.image-section {
  flex: 0 0 33.33%; /* 4 columns out of 12 */
  display: flex;
  justify-content: center;
}

.text-section {
  flex: 0 0 66.66%; /* 8 columns out of 12 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.img-width-hight-set {
  max-width: 100%;
  height: auto;
}
.block-none-class{
  display: block;
}
.hide-none-class{
  display: none;
}

.CLR-WHITEW {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.img-fluidd {
 
  height: auto;
  width: 100%;
}
.CLR-WHITEW8 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
  display: flex;
  justify-content: end;
}

.class-primary {
  color: #2f827a;
  margin-bottom: -50px !important;
  padding-top: 20px;
}
.mt-class {
  margin-top: -40px !important;
  padding-bottom: 10px;
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #151515;
}
.paragraph-style-div {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-top: -15px;
  text-align: start !important;
}
.class-sex {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.2px;
  vertical-align: middle;
  color: #000000;
  text-align: start !important;
  margin-top: 20px;
  margin-bottom: -38px;
}
.footer-text{
  font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 20px;


}
.footer-span-1{
  font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #00000080;

}
.footer-mob{
  font-family: "Inter", sans-serif;
font-weight: 900;
font-size: 8px;
line-height: 8px;


}
.color-change{
  color: #00000080;
}
.nav-tabs {
  display: flex;
  width: 100%;
  border: 3px solid #ededed; /* Add a border around the whole tab container */
  border-radius: 8px;
  margin-bottom: 50px;
  padding: 3px;
}
.nav-item {
  flex: 1; /* This makes each tab take up equal width */
}

.nav-link {
  background-color: white;
  color: black;
  border: none; /* Remove the border */
  border-radius: 0.25rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%; /* Ensure the tab spans the full width of its container */
  text-align: center; /* Center the text inside the tab */
  cursor: pointer;
  font-family: HelveticaNeueLight;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}

.nav-link.active-tab {
  background-color: #99d6d0;
  color: black;
}

.nav-link:hover {
  background-color: #99d6d0;
  /* Remove the default blue hover color */
  color: black; /* Optionally set the text color on hover */
}

.class-padding-22 {
  margin-bottom: -30px;
}

.texty-paragr {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1c1c1c;
  padding-top: 27px;
  text-align: center;
}

.texty-paragrq1 {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1c1c1c;
  padding-top: 27px;
  width: 90%;
  margin: auto;
  text-align: center;
}

.container-paddingt {
  padding-top: 40px;
}
.bg-warning-clr {
  background-color: #ff9900;
  color: white;
  font-family: HelveticaNeue-Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 9999px;
  width: 82% !important;
  height: 42px;
  padding-left: 20px;
  margin-top: 31px;
  margin-bottom: 44px;
}

.all-start {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  margin-top: -16px;
  text-align: start !important;
}
.bg-green-dynamic-div {
  background-color: #2fbaac;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.d-flex {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
}

.text-center-divvv {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: white;
  padding-top: 15px;
  padding-left: 10px;
}

.text-center-divv {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 10%;
  color: white;
  padding-top: 15px;
  padding-right: 10px;
}

.class-width-testimonials {
  width: 90%;
  margin: auto;
  margin-top: -50px !important;
  margin-bottom: 100px;
}
.testimonials-cards-style {
  background-color: white;
  padding: 25px;
  min-height: auto;
  border-radius: 12px;
  width: 100%;
  
}
.testimonials-cards-style-2 {
  background-color: white;
  border-radius: 12px;
  min-height: auto;
  width: 100%;
}

.img-padd-b {
  padding-bottom: 25px;
}
.glad-class {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #2f766a;
  margin-bottom: -1px;
}

.glad-class-p {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f766a;
  width: 80%;
  padding-bottom: 24px;
}

.clas-flex-img-client {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.class-verify {
  font-family: HelveticaNeue-Bold;
  font-size: 12px;
  line-height: 16px;
  color: #00b67a;
}
.padding-set {
  margin-top: -14px;
}
.class-lindsay {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #2f766a;
  margin: 0 0 0;
}

.class-margin {
  margin-top: 8px;
}
.lindsay-margin {
  padding-top: 20px;
}

.date-class {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 12px;
  line-height: 16.2px;
  color: #2f766a;
}

.border-danger {
  border: 1px solid red !important;
}

.date {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.2px;
  color: #2f766a;
}
.width-setjennni {
  width: 100%;
  height: 270px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.class-margin-2 {
  display: flex;
  justify-content: flex-start;
  margin-top: -10px;
}
.padding-card-2 {
  padding:20px 20px 20px 20px; 
}

.jeni-style {
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  line-height: 16px;
  color: #2f766a;
  padding-bottom: 0px;
}


.bg-gray-0 {
  background-color: #f2f2f2;
  width: 100px;
  height: 33px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  padding-top: 16px;
  margin-top: -20px;

}
.loast-class {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2fbaac;
}
.loast-class-2 {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 16px;
  line-height: 24.8px;
}
.CLASS-BG-TAG {
  background-color: #2fbaac;
  width: 75px;
  display: flex;

  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 15px;
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 16px;
  line-height: 24.8px;
}
.CLASS-BG-TAG-1 {
  background-color: #ff9900;
  width: 75px;
  display: flex;

  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 70px;
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 16px;
  line-height: 24.8px;
}

/* .......................product............... */

.product-selection-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
  width: 100%;
}

.product-card {
  display: flex;
  justify-content: space-between;
  background-color: #f8fcfc;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  transition: all 0.3s ease;
}

.product-card.selected {
  border-color: #2d7567;
  box-shadow: 0 0 0 1px #2d7567;
}

.product-info {
  flex: 1;
}

.product-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.product-name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.price-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.current-price {
  font-weight: 600;
  color: #333;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  font-size: 12px;
}

.product-description {
  font-size: 13px;
  color: #666;
  margin-bottom: 8px;
}

.product-code {
  font-size: 12px;
  margin-bottom: 8px;
}

.code-highlight {
  color: #2d7567;
  font-weight: 600;
}

.product-status {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.status-indicator {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #2d7567;
}

.status-dot {
  width: 8px;
  height: 8px;
  background-color: #2d7567;
  border-radius: 50%;
  display: inline-block;
}

.expiration {
  color: #999;
}

.product-image {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.product-image img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.continue-btn {
  transition: background-color 0.3s ease;

  height: 70px;
  background-color: #f5d552;
  color: black;
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
}

.continue-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.continue-btn:hover:not(:disabled) {
  background-color: #236355;
}

/* .............................end................................ */

.class-title {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: start !important;
  color: #000000;
}
.class-title-1 {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: start !important;
  color: #4a4a4a;
}
.class-title-2 {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: start !important;
  color: #4a4a4a;
  text-decoration: line-through;
}
.class-title-3 {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: start !important;
  color: #000000;
  margin-top: -10px;
}
.class-title-4 {
  font-family: HelveticaNeueLight;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: start !important;
  color: #000000;
}
.clr {
  color: #ff9900;
}
.class-inject {
  display: flex;
  justify-content: start;
}
.class-bng-1 {
  background-color: #f2f2f2;
  color: #2fbaac;
  border-radius: 9999px;
  font-family: HelveticaNeueLight;
  font-size: 10px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  width: 70px;
}
.class-bng {
  background-color: #d1f0db;
  color: #549d66 !important;
  border-radius: 9999px;
  font-family: HelveticaNeueLight;
  font-size: 10px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dott {
  width: 12px !important;
  height: 12px !important;
  background-color: #16a34a !important;
  border-radius: 50%; /* Make the dot circular */
  display: inline-block;
  margin-right: 8px; /* Space between the dot and the text */
}
.dot-class-text {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
}

.class-imgg {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.flex-div {
  display: flex;
  justify-content: start;
}

.class-border-clr {
  border: 1px solid #2fbaac !important;
}

.class-flex-expand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: -8px;
}
.class-compound {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: start;
}

.class-stock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bg-sett {
  background-color: #dcfce7;
  color: #16a34a;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 9999px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
.code-class {
  background-color: white;
  color: black;
  font-family: HelveticaNeueLight;
  border: 1px solid #8e8e92;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  border-radius: 9999px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.class-color {
  color: #ff9900;
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.class-current {
  font-family: HelveticaNeueLight;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #4a4a4a;
}
.class-original {
  font-family: HelveticaNeueLight;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.text-inter-class {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 14px;
  text-align: start;
}
.detail-class {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: black;
}
.plus-minus {
  width: 20px;
  height: 20px;
  color: black;
  font-size: 33px;
  margin-top: -33px;
}
.class-content {
  text-align: start;
}
.class-text-dropdown{
  font-family: HelveticaNeue-Bold;
font-weight: 700;
font-size: 15px;
line-height: 24px;
letter-spacing: -0.21px;
vertical-align: middle;
color: #68696B;

}
.classs-text-content{
  font-family: HelveticaNeue-Medium;
font-weight: 500;
font-size: 15px;
line-height: 24px;
letter-spacing: -0.21px;
vertical-align: middle;
color: #68696B;

}




.CLASS-WIDTH-FULL {
  width: 100%;
}
.bg-clr-#E5F5F3 {
  background-color: #e5f5f3;
}

.img-tick-set {
  width: 12px !important;
  height: 12px !important;
}

.class-title-new {
  font-family: HelveticaNeue-Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: start !important;
  color: #333333;
  margin-top: 25px;
}
.bg-div-dark {
  background-color: #2f827a !important;
  font-family: HelveticaNeue-Medium;

  font-size: 10px;
  line-height: 14.03px;
  letter-spacing: 0.23px;
  text-align: center;
  vertical-align: middle;
  color: white;
  border-radius: 50px;
  width: 60%;
  padding: 4px;
  margin-top: -8px;
}

.class-details {
  font-family: HelveticaNeue-Medium;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: start !important;
  color: #000000;
}
.class-details-new {
  font-family: HelveticaNeue-Bold;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: start !important;
  color: #000000;
  padding-left: 16px;
}
.class-details-new1 {
  font-family: HelveticaNeue-Bold;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: start !important;
  color: #000000;
  padding-left: 16px;
  padding-top: 9px;
}
.flex-class-div {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: -20px;
}
.class-title-price {
  font-family: HelveticaNeue-Bold;
  font-size: 24px;
  line-height: 28px;
  color: #2f827a !important;
  margin-top: 25px;
}
.class-title-price-1 {
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  line-height: 28px;
  color: #2f827a !important;
}
.cancel-class {
  font-family: HelveticaNeueLight;
  font-size: 7px;
  line-height: 12px;
  color: black;
  margin-top: 5px;
}
.selected-button-red {
  background-color: #2fbaac;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: HelveticaNeue-Bold;
  font-size: 11.42px;
  line-height: 20.7px;
  text-align: center;
  width: 100%;
  padding-top: 2px !important;
}
.default-color {
  background-color: #cbcbcb;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: HelveticaNeue-Bold;
  font-size: 11.42px;
  line-height: 20.7px;
  text-align: center;
  width: 100%;
  padding-top: 2px !important;

}
.checkk {
  font-family: HelveticaNeueLight;
  font-size: 26px;
  line-height: 46px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #000000;
}

.licensed {
  font-family: HelveticaNeueLight;
  font-size: 26px;
  line-height: 46px;
  letter-spacing: -0.2px;
  text-align: center;
  padding-top: 20px;
}
.licensed-1 {
  font-family: HelveticaNeue-Bold;
  font-size: 26px;
  line-height: 46px;
  letter-spacing: -0.2px;
  text-align: center;
  color: #2f766a;
}
.licensed-11 {
  font-family: HelveticaNeueLight;
  font-size: 26px;
  line-height: 46px;
  letter-spacing: -0.2px;
  text-align: center;
  padding-top: 50px;
}

.loader {
  position: relative;
  width: 40%;
  margin: auto;
  height: 16px;
  background: #e0e0e0;
  border-radius: 9999px;
  overflow: hidden;
}

.loader-bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #2f766a, #2fbaac);
  animation: loadAnimation 3s infinite;
}

.center-image {
  display: grid;
  justify-content: center;
  align-items: center;
}
.excellent{
  font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 8px;
line-height: 8px;
margin-bottom: -2px !important;

}

.some-add-text{
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  width: 140px;
  font-family: HelveticaNeue-Medium;
font-size: 10px;
line-height: 15px;
letter-spacing: 10%;
text-align: center;


}

.back-div-class{
  background-color: white;
  border-radius: 24px;
  height: 400px;
width: 100%;
}

.padding-slider{
  padding: 6px;
  
}

.slider-container{
  padding-bottom: 70px;
}

.img-radius{
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.class-ease-flex{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.lost-class{
  text-align: center;
  font-family: "Inter", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 32px;
width: 90%;
margin: auto;
color: #303030;
padding-bottom: 10px;
margin-top: -12px;

}
.class-tanya{
  text-align: center;
  font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 22.4px;
color: #303030;
margin-top: 14px;
}

.tick-img{
  width: 18px;
  height: 18px;
  margin-top: -2px;
}
.class-easee{
  font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: black;

}

.padding-slide{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 39px;
}




@keyframes loadAnimation {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

/* Custom class for 1700px and above: 4 columns */
@media (min-width: 1700px) {
  .custom-1700 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
}
@media (max-width: 1700px) {

  .testimonials-cards-style{
    min-height: auto;
  }


}

@media (max-width: 1236px) {
.glad-class-p{
  padding-bottom: 1px;
}


}
@media (max-width: 1199px) {
  .glad-class-p{
    padding-bottom: 44px;
  }
  
  
  }
  @media (max-width: 1001px) {
    .glad-class-p{
      padding-bottom: 24px;
    }
    
    
    }

    @media (max-width: 721px) {
      .glad-class-p{
        padding-bottom: 14px;
      }
      
      
      }

/* For 1400px to 1699px: 3 columns */
@media (max-width: 1699.98px) and (min-width: 1200px) {
  .custom-1700 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .back-div-class {
    background-color: white;
    border-radius: 24px;
    height: auto;
    width: 100%;
}
}

@media screen and (max-width: 992px) {
  .class-title-price-mob {
    font-family: HelveticaNeue-Bold;
    font-size: 32px;
    line-height: 38px;
    color: #2f827a !important;
    margin-top: 8px;
    margin-bottom: 2px;
  }
  .class-title-price-1-mob {
    font-family: HelveticaNeue-Medium;
    font-size: 25px;
    line-height: 38px;
    color: #2f827a !important;
  }
  .cancel-class-mob {
    font-family: HelveticaNeueLight;
    font-size: 8px;
    line-height: 12px;
    color: black;
    margin-top: 5px;
    text-align: center;
  }

  .class-title-new-mob {
    font-family: HelveticaNeue-Bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    margin-top: -20px;
  }
  .bg-div-dark-mob {
    background-color: #2f827a !important;
    font-family: HelveticaNeue-Medium;
    font-size: 10px;
    line-height: 14.03px;
    letter-spacing: 0.23px;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: 50px;
    width: 80%;
    padding: 4px;
    margin-top: -8px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -15px;
  }
  .class-details-mob {
    font-family: HelveticaNeue-Medium;
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    text-align: start !important;
    color: #000000;
    padding-bottom: 5px;
  }
  .class-details-new1-mob {
    font-family: HelveticaNeue-Bold;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: start !important;
    color: #000000;
    padding-left: 16px;
    margin-top: 9px;
  }
  .block-none-class{
    display: none !important;
  }
  .hide-none-class{
    display: block !important;
  }
  .back-div-class {
    background-color: white;
    border-radius: 24px;
    height: auto;
    width: 100%;
}
}

@media screen and (max-width: 768px) {
  .bg-warning-clr {
    background-color: #ff9900;
    color: white;
    font-family: HelveticaNeue-Bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    border-radius: 9999px;
    width: 100% !important;
    height: 42px;
  }
  .class-title-new {
    font-family: HelveticaNeue-Bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;

    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -40px; */
  }

  .bg-div-dark-mob {
    background-color: #2f827a !important;
    font-family: HelveticaNeue-Medium;
    font-size: 10px;
    line-height: 14.03px;
    letter-spacing: 0.23px;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: 50px;
    width: 80%;
    padding: 4px;
    margin-top: -8px;
    margin: auto;
    margin-bottom: 10px;
    /* margin-top: -45px; */
  }

  .class-title-new-mob {
    font-family: HelveticaNeue-Bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    margin-top: 10px;
  }
  .glad-class-p {
    padding-bottom: 0px;
  }
  /* .class-imgg {
    padding-top: 20px;
  } */
}

@media screen and (max-width: 575px) {
  .testimonials-cards-style {
    width: 100%;
  }
  .testimonials-cards-style-2 {
    width: 100%;
  }

  .glad-class-p {
    padding-bottom: 0px;
  }
  .padding-footer{
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-start-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
}
@media screen and (max-width: 545px) {
  .ptb-class {
    padding-bottom: 60px;
    padding-top: 40px;
  }
  .class-name-style {
    padding-top: 0px;
    font-size: 20px;
  }
  .padding-class {
    padding: 20px;
  }

  .bg-lady {
    background: linear-gradient(90deg, #2f766a 0%, #2fbaac 100%);
    border-radius: 24px;
    height: 138px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
  }

  .mt-class {
    margin-top: -90px !important;
    padding-bottom: 10px;
  }
  .texty-paragr {
    font-family: HelveticaNeueLight;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #1c1c1c;
    padding-top: 27px;
    text-align: center;
  }

  .texty-paragrq1 {
    font-family: HelveticaNeueLight;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #1c1c1c;
    padding-top: 27px;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .CLR-WHITEW {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }

  .CLR-WHITEW8 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: white;
    padding-top: -40px;
  }
  .class-compound {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: start;
  }

  .checkk {
    font-family: HelveticaNeueLight;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #000000;
  }
  .licensed {
    font-family: HelveticaNeueLight;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: -0.2px;
    text-align: center;
    padding-top: 30px;
  }
  .licensed-1 {
    font-family: HelveticaNeue-Bold;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #2f766a;
  }
  .licensed-11 {
    font-family: HelveticaNeueLight;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: -0.2px;
    text-align: center;
    padding-top: 20px;
  }
  .bg-warning-clr {
    background-color: #ff9900;
    color: white;
    font-family: HelveticaNeue-Medium;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    border-radius: 9999px;
    width: 100% !important;
    height: 42px;
  }
}
@media screen and (max-width: 545px) {
  .class-compound {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: start;
  }
  .bg-sett {
    background-color: #dcfce7;
    color: #16a34a;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    border-radius: 9999px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .code-class {
    background-color: white;
    color: black;
    font-family: HelveticaNeueLight;
    border: 1px solid #8e8e92;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border-radius: 9999px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .class-title-1 {
    font-family: HelveticaNeueLight;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: start !important;
    color: #4a4a4a;
  }
  .class-title-2 {
    font-family: HelveticaNeueLight;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: start !important;
    color: #4a4a4a;
    text-decoration: line-through;
  }
  .class-title {
    font-family: HelveticaNeueLight;

    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: start !important;
    color: #000000;
  }

  .class-title-3 {
    font-family: HelveticaNeueLight;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: start !important;
    color: #000000;
    margin-top: -15px;
  }
  .class-flex-expand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-top: 6px;
  }
  .class-title-4 {
    font-family: HelveticaNeueLight;
    font-size: 14px;
    line-height: 24px;
    text-align: start !important;
    color: #000000;
  }
  .testimonials-cards-style {
    background-color: white;
    /* padding: 85px; */
    height: auto;
    border-radius: 12px;
    width: 100%;
    margin-top: 50px;
  }
  .class-width-testimonials container {
    width: 100%;
    margin: auto;
    margin-top: 10px !important;
  }
  .text-center-divvv {
    font-family: HelveticaNeueLight;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: white;
    padding-top: 15px;
    padding-left: 10px;
  }
  .class-name-style {
    color: #2f827a;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.28px;
    font-weight: 700;
    padding-top: 10px;
    text-align: start !important;
  }
}

@media screen and (max-width: 460px) {
  .bg-div-dark-mob {
    background-color: #2f827a !important;
    font-family: HelveticaNeue-Medium;
    font-size: 10px;
    line-height: 14.03px;
    letter-spacing: 0.23px;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: 50px;
    width: 80%;
    padding: 4px;
    margin-top: -8px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -10px;
  }

  .class-title-new-mob {
    font-family: HelveticaNeue-Bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    margin-top: -10px;
  }
}

@media screen and (max-width: 420px) {
  .class-title-new {
    font-family: HelveticaNeue-Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: start !important;
    color: #333333;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .class-title-new-mob {
    font-family: HelveticaNeue-Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
  }
}

@media screen and (max-width: 408px) {
  .class-title-price-mob {
    font-family: HelveticaNeue-Bold;
    font-size: 28px;
    line-height: 38px;
    color: #2f827a !important;
  }
  .class-title-price-1-mob {
    font-family: HelveticaNeue-Medium;
    font-size: 22px;
    line-height: 38px;
    color: #2f827a !important;
  }
  .some-add-text{
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    width: 110px;
    font-family: HelveticaNeue-Medium;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 10%;
  text-align: center;
  
  }
  }

@media screen and (max-width: 402px) {
  .text-center-divvv {
    font-family: HelveticaNeueLight;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: white;
    padding-top: 15px;
    padding-left: 10px;
  }

  .class-title-new-mob {
    font-family: HelveticaNeue-Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
  }
}

@media screen and (max-width: 388px) {
  .bg-div-dark-mob {
    background-color: #2f827a !important;
    font-family: HelveticaNeue-Medium;
    font-size: 10px;
    line-height: 14.03px;
    letter-spacing: 0.23px;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: 50px;
    width: 80%;
    padding: 4px;
    margin-top: -8px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: -60px;
  }

  .class-title-new-mob {
    font-family: HelveticaNeue-Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    margin-top: -10px;
  }

  .class-title-price-mob {
    font-family: HelveticaNeue-Bold;
    font-size: 26px;
    line-height: 38px;
    color: #2f827a !important;
  }
  .class-title-price-1-mob {
    font-family: HelveticaNeue-Medium;
    font-size: 20px;
    line-height: 38px;
    color: #2f827a !important;
  }
}
